/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
	margin: 0;
	font-family: 'Lora', serif;
	color: #242424;
	font-size: 18px;
	line-height: 1.5;
}

.logo {
	width: 170px;
}

header {
	padding: 30px 0 30px 0;
	margin-left: auto;
	margin-right: auto;
}

header .obsah {
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.menu a {
	text-decoration: none;
	color: #242424;
	padding: 10px 15px;
	border-radius: 20px;
}

.menu a:hover {
	background-color: #f195b2;
}

.hero {
	background-image: url(images/cupcake.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 80px 0 80px 0;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 52px;
	color: white;
	margin: 0;
}

.hero p{
	color: white;
	font-style: italic;
	font-size: 24px;
}

.hero p {
	max-width: 60%;
	margin: 0;
	padding-top: 20px;
}

.hero .obsah {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.nabidka {
	background-color: #f0f0f0;
}

section {
	padding: 80px 0 80px 0;
	margin: 0 auto 0 auto;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	color: #3e606b;
}

img {
	border-radius: 5px;
}

.uvitani .obsah,
.pristup .obsah
 {
	max-width: 1100px;
	margin: 0 auto 0 auto;
	display: flex;
	align-items: center;
}

.uvitani .popisek {
	padding-right: 30px;
}

.uvitani a {
	text-decoration: none;
	color: white;
	background-color: #f195b2;
	border-radius: 30px;
	padding: 15px 40px;
	display: inline-block;
}

.uvitani a:hover{
	background-color: #d2567d;
}

.pristup .popisek {
	padding-left: 30px;
}

.nabidka .popisek {
	max-width: 1100px;
	margin: 0 auto 0 auto;
}

.produkty {
	display: flex;
	max-width: 1100px;
	margin: 0 auto 0 auto;
}

.produkty img {
	border-radius: 5px 5px 0 0;
	max-width: 100%;
}

.produkt1,
.produkt2,
.produkt3,
.produkt4 {
	box-shadow: 2px 2px 10px 2px rgb(180, 180, 180);
	margin-right: 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 0 1 25%;
}

h3 {
	font-size: 18px;
}
.produkty p {
	padding: 20px;
	margin: 0;
}

footer {
	background-color: #303339;
	padding: 30px 0 30px 0;
	text-align: center;
	color: white;
}

footer p {
	padding: 0;
	margin: 0;
}
